@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <a href="/Accounts">Accounts</a>
    <br />
    <a href="/Carts">Carts</a>
    <br />
    <a href="/Products">Products</a>
    <br />
    <a href="/ProductTypes">ProductTypes</a>
    <br />
    <a href="/Invoices">Invoices</a>
    <br />
    <a href="/InvoiceDetails">InvoiceDetails</a>
    <br />
</div>
