@model Account

<form asp-action="Login">
    <label asp-for="username"></label>
    <input asp-for="username" />
    <label asp-for="password"></label>
    <input asp-for="password" />
    <button>Login</button>
    <p class="text-danger">@ViewBag.ErrorMsg</p>
</form>